main {
    width: calc(140px - 140px);
    height: calc(100vh - 125px);
}

.wrapper_main_container {
    width: calc(100% - 75px);
    min-height: calc(100vh - 110px);
    background-color: #EBEBEB;
    padding-bottom: 30px;
}

.school_part_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding-bottom: 50px;
}

.users_school_part_container {
    display: flex;
    flex-direction: column;
    padding: 32px 22px;
    background-color: #FFF;
    border-radius: 13px;
}

.user_link_school_part {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.user_link_school_part li {
    padding-bottom: 10px;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 600;
    color: #6C768E;
    cursor: default;
}

.user_link_school_part .active {
    color: #233255;
    padding-bottom: 7px;
    border-bottom: 3px solid #FFC107;
}

.search_block_user_school_part {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.search_block_user_school_part i {
    position: absolute;
    z-index: 9;
    margin: 2px 0 0 15px;
}

.search_block_user_school_part input {
    width: 100%;
    border-radius: 20px;
    padding: 10px 18px 10px 45px;
    border: 1px solid #EBEBEB;
    background-color: #FBFBFB;
    color: #999999;
    font-size: 16px;
    outline: none;
}

.filter_class_user_school_part {
    margin: 22px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.filter_class_number,
.filter_class_liter {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-radius: 6px;
    background-color: #233255;
    padding: 10px;
}

.filter_class_number h1,
.filter_class_liter h1 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
}

.user_list_data_school_part {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user_data_school_part {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    gap: 20px;
}

.user_data_school_part .active {
    background-color: #FFC107;
}

.user_data_school_part:hover {
    cursor: pointer;
    background-color: #F8BB4E;
}

.background_user_avatar_block {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main_info_block_user_data h1 {
    font-size: 16px;
    font-weight: 600;
    color: #233255;
}

.main_info_block_user_data p {
    font-size: 14px;
    font-weight: 500;
    color: #233255;
}

.detail_user_info_container {
    width: 100%;
    display: none;
    flex-direction: column;
    gap: 30px;
}

.self_user_detail_info_container {
    background-color: #233255;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 0;
    gap: 100px;
}

.self_parent_detail_info_container {
    display: none;
}

.self_main_user_detail_info_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.image_block_self_main_user {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.self_main_user_detail_info_block h1 {
    color: #F6AD2B;
    margin-top: 10px;
    font-size: 17px;
    font-weight: 600;
    font-family: Montserrat;
}

.self_main_user_detail_info_block .parent-active {
    color: #233255;
}

.self_main_user_detail_info_block p {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    font-family: Montserrat;
}

.self_additional_user_detail_info_block {
    display: flex;
}

.user_additional_info_block {
    width: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

.user_additional_info_block div {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 17px;
    font-weight: 600;
    font-family: Montserrat;
    color: #FFF;
}

.user_additional_info_block div p {
    color: #F6AD2B;
}

.parent_additional_info_block div p {
    color: #233255;
}

.select_user_detail_info_container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.select_user_detail_info_container h1 {
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    font-family: Montserrat;
    text-transform: uppercase;
    color: #6C768E;
    cursor: default;
}

.select_user_detail_info_container .active {
    color: #233255;
    padding-bottom: 7px;
    border-bottom: 3px solid #F6AD2B;
}

.parent_mobile_phone_info {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 10px;
}

.self_contract_detail_info_container {
    display: none;
    flex-direction: column;
    gap: 50px;
}

.self_parent_detail_info_container.active {
    display: flex;
}

.contract_transaction_main_info {
    display: none;
}

.contract_transaction_main_table_info {
    background-color: #FFF;
    border-radius: 14px;
    padding: 20px 15px;
    flex-direction: column;
    gap: 50px;
}

.contract_detail_info_style {
    background-color: #FFF;
    border-radius: 14px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contract_table_style {
    width: 100%;
}

.contract_table_style thead th {
    text-align: center;
    padding-bottom: 30px; /* добавляет нижний отступ для заголовков колонок */
}

.contract_table_style tbody tr td {
    text-align: center;
    padding: 10px 20px; /* добавляет верхний и нижний отступы для ячеек, выравнивая текст внутри по вертикали */
}

/* Стили для выравнивания иконки с помощью flexbox */
.contract_table_style td svg {
    margin: auto; /* центрирование SVG внутри ячейки td */
}

.contract_table_style h1,
.contract_table_style p,
.contract_table_style span {
    font-size: 14px;
    font-weight: 500;
    font-family: Montserrat;
    color: #233255;
}

.contract_table_style h2 {
    font-size: 16px;
    font-weight: 600;
    font-family: Montserrat;
    color: #F6AD2B;
}

.contract_table_style p {
    color: #17C653 !important;
}

.contract_table_style span {
    color: #C6C6C6 !important;
}

.contract_table_style h1 {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    font-family: Montserrat;
    color: #233255;
}

.contract_table_style h1 span {
    color: #233255 !important;
    margin-left: 2px;
}

.add_new_contract_transaction {
    display: inline-block;
    margin-top: 18px;
    padding: 13px 32px;
    font-size: 16px;
    font-weight: 500;
    font-family: Montserrat;
    color: #FFF;
    background-color: #233255;
    border-radius: 9px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.add_new_contract_transaction:hover {
    opacity: 0.8;
}

.add_new_contract_transaction_detail_container {
    display: none;
    margin-top: 18px !important;
    padding: 40px 60px;
}

.title_add_new_contract_transaction {
    font-size: 24px !important;
}

.settings_add_new_transaction {
    margin: 12px 0;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: all 0.3s ease-in-out;
}

.settings_add_new_transaction button:hover {
    opacity: 0.8;
}

.settings_add_new_transaction h1 {
    font-size: 16px !important;
}

.settings_add_new_transaction div, button {
    width: 160px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #F6AD2B;
    color: #FFF;
    font-size: 14px !important;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.open_transactions_icon.non_active {
    transform: rotate(180deg);
}

.amount_of_payment {
    display: inline-block;
    width: 200px;
    height: 40px;
    font-size: 18px !important;
    font-weight: 600;
    font-family: Montserrat;
    color: #233255;
    border: 1px solid #F6AD2B;
    border-radius: 6px;
    padding: 0 10px;
    outline: none;
}

.amount_of_payment::placeholder {
    color: #8d8d8d;
    font-size: 18px !important;
    font-weight: 600;
    font-family: Montserrat;
}

.edit_transaction_btn:hover svg {
    transform: rotate(180deg);
}