{% extends 'main/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'school/css/school-part.css' %}">
{% endblock %}

{% block title %} SmartSchool - School part {% endblock %}

{% block page_title %} School part {% endblock %}

{% block content %}
    <div class="section_container">
        <div class="school_part_container">

            <!-- LEFT LIST BLOCK -->
            <div class="users_school_part_container">
                <div class="title_block_user_school_part">
                    <ul class="user_link_school_part">
                        <li class="active">Students</li>
                        <li>Parents</li>
                        <li>Teachers</li>
                    </ul>
                </div>
                <div class="search_block_user_school_part">
                    <i>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="#999999" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.6 21L13.3 14.7C12.8 15.1 12.225 15.4167 11.575 15.65C10.925 15.8833 10.2333 16 9.5 16C7.68333 16 6.146 15.3707 4.888 14.112C3.63 12.8533 3.00067 11.316 3 9.5C3 7.68333 3.62933 6.146 4.888 4.888C6.14667 3.63 7.684 3.00067 9.5 3C11.3167 3 12.8543 3.62933 14.113 4.888C15.3717 6.14667 16.0007 7.684 16 9.5C16 10.2333 15.8833 10.925 15.65 11.575C15.4167 12.225 15.1 12.8 14.7 13.3L21 19.6L19.6 21ZM9.5 14C10.75 14 11.8127 13.5627 12.688 12.688C13.5633 11.8133 14.0007 10.7507 14 9.5C14 8.25 13.5627 7.18767 12.688 6.313C11.8133 5.43833 10.7507 5.00067 9.5 5C8.25 5 7.18767 5.43767 6.313 6.313C5.43833 7.18833 5.00067 8.25067 5 9.5C5 10.75 5.43767 11.8127 6.313 12.688C7.18833 13.5633 8.25067 14.0007 9.5 14Z" fill="#999999"/>
                        </svg>
                    </i>
                    <input type="text" name="query" id="user_search" placeholder="Search">
                </div>
                <div class="filter_class_user_school_part">
                    <div class="filter_class_number">
                        <h1>Number</h1>
                        <i>
                            <svg width="17" height="9" viewBox="0 0 17 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.1351 1L8.56757 8L1 1" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </i>
                    </div>
                    <div class="filter_class_liter">
                        <h1>Letter</h1>
                        <i>
                            <svg width="17" height="9" viewBox="0 0 17 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.1351 1L8.56757 8L1 1" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </i>
                    </div>
                </div>
                <div class="users_data_school_part_block">
                    <ul class="user_list_data_school_part">
                        {% for student in students %}
                            <li id="user_list_{{ student.id }}" class="user_data_school_part" onclick="getUserDetailInfo({{ student.id }})">
                                <div class="image_block_user_data">
                                    <div class="background_user_avatar_block"
                                         style="background-image: url('{{ student.get_photo }}');"
                                    >
                                    </div>
                                </div>
                                <div class="main_info_block_user_data">
                                    <h1>{{ student.full_name }}</h1>
                                    <p>{{ student.student_info.stud_class.class_num }} "{{ student.student_info.stud_class.class_liter }}"</p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- RIGHT DETAIL BLOCK -->
            <div class="detail_user_info_container">
                <div class="self_user_detail_info_container">
                    <div class="self_main_user_detail_info_block">
                        <div id="user_photo_avatar" class="image_block_self_main_user"></div>
                        <h1 id="user_full_name"></h1>
                        <p id="student_class"></p>
                    </div>
                    <div class="self_additional_user_detail_info_block">
                        <div class="user_additional_info_block">
                            <div><h1>IIN:</h1> <p id="user_iin"></p></div>
                            <div><h1>Birth:</h1> <p id="user_birth"></p></div>
                            <div>
                                <i>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2.25 6.75C2.25 15.034 8.966 21.75 17.25 21.75H19.5C20.0967 21.75 20.669 21.5129 21.091 21.091C21.5129 20.669 21.75 20.0967 21.75 19.5V18.128C21.75 17.612 21.399 17.162 20.898 17.037L16.475 15.931C16.035 15.821 15.573 15.986 15.302 16.348L14.332 17.641C14.05 18.017 13.563 18.183 13.122 18.021C11.4849 17.4191 9.99815 16.4686 8.76478 15.2352C7.53141 14.0018 6.58087 12.5151 5.979 10.878C5.817 10.437 5.983 9.95 6.359 9.668L7.652 8.698C8.015 8.427 8.179 7.964 8.069 7.525L6.963 3.102C6.90214 2.85869 6.76172 2.6427 6.56405 2.48834C6.36638 2.33397 6.1228 2.25008 5.872 2.25H4.5C3.90326 2.25 3.33097 2.48705 2.90901 2.90901C2.48705 3.33097 2.25 3.90326 2.25 4.5V6.75Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </i>
                                <p id="user_phone"></p>
                            </div>
                            <div>
                                <i>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M21.75 6.75V17.25C21.75 17.8467 21.5129 18.419 21.091 18.841C20.669 19.2629 20.0967 19.5 19.5 19.5H4.5C3.90326 19.5 3.33097 19.2629 2.90901 18.841C2.48705 18.419 2.25 17.8467 2.25 17.25V6.75M21.75 6.75C21.75 6.15326 21.5129 5.58097 21.091 5.15901C20.669 4.73705 20.0967 4.5 19.5 4.5H4.5C3.90326 4.5 3.33097 4.73705 2.90901 5.15901C2.48705 5.58097 2.25 6.15326 2.25 6.75M21.75 6.75V6.993C21.75 7.37715 21.6517 7.75491 21.4644 8.0903C21.2771 8.42569 21.0071 8.70754 20.68 8.909L13.18 13.524C12.8252 13.7425 12.4167 13.8582 12 13.8582C11.5833 13.8582 11.1748 13.7425 10.82 13.524L3.32 8.91C2.99292 8.70854 2.72287 8.42669 2.53557 8.0913C2.34827 7.75591 2.24996 7.37815 2.25 6.994V6.75" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </i>
                                <p id="user_email"></p>
                            </div>
                        </div>
                        <div class="change_user_info">
                            <i>
                                <svg width="27" height="25" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.4163 3.70703L21.5836 1.66458C22.0354 1.23906 22.6482 1 23.2871 1C23.9261 1 24.5389 1.23906 24.9907 1.66458C25.4425 2.0901 25.6963 2.66724 25.6963 3.26902C25.6963 3.8708 25.4425 4.44793 24.9907 4.87346L11.3482 17.7223C10.669 18.3616 9.83141 18.8315 8.91108 19.0896L5.46159 20.0575L6.48937 16.8087C6.76338 15.9419 7.26231 15.1531 7.94111 14.5134L19.4163 3.70703ZM19.4163 3.70703L22.8054 6.89897M20.8783 15.2176V20.965C20.8783 21.6871 20.5737 22.3795 20.0316 22.8901C19.4895 23.4007 18.7543 23.6875 17.9876 23.6875H4.49805C3.73141 23.6875 2.99617 23.4007 2.45407 22.8901C1.91197 22.3795 1.60742 21.6871 1.60742 20.965V8.2602C1.60742 7.53816 1.91197 6.84569 2.45407 6.33513C2.99617 5.82457 3.73141 5.53774 4.49805 5.53774H10.6005" stroke="white" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </i>
                        </div>
                    </div>
                </div>
                <div class="select_user_detail_info_container">
                    <h1>Contracts</h1>
                    <h1 class="active">Parents</h1>
                </div>
                <div class="self_user_detail_info_container self_parent_detail_info_container">
                    <div class="self_main_user_detail_info_block">
                        <div id="parent_photo_avatar" class="image_block_self_main_user"></div>
                        <h1 id="parent_full_name"></h1>
                        <div class="parent_mobile_phone_info">
                            <i>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.25 6.75C2.25 15.034 8.966 21.75 17.25 21.75H19.5C20.0967 21.75 20.669 21.5129 21.091 21.091C21.5129 20.669 21.75 20.0967 21.75 19.5V18.128C21.75 17.612 21.399 17.162 20.898 17.037L16.475 15.931C16.035 15.821 15.573 15.986 15.302 16.348L14.332 17.641C14.05 18.017 13.563 18.183 13.122 18.021C11.4849 17.4191 9.99815 16.4686 8.76478 15.2352C7.53141 14.0018 6.58087 12.5151 5.979 10.878C5.817 10.437 5.983 9.95 6.359 9.668L7.652 8.698C8.015 8.427 8.179 7.964 8.069 7.525L6.963 3.102C6.90214 2.85869 6.76172 2.6427 6.56405 2.48834C6.36638 2.33397 6.1228 2.25008 5.872 2.25H4.5C3.90326 2.25 3.33097 2.48705 2.90901 2.90901C2.48705 3.33097 2.25 3.90326 2.25 4.5V6.75Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </i>
                            <p id="parent_phone"></p>
                        </div>
                    </div>
                    <div class="self_additional_user_detail_info_block">
                        <div class="user_additional_info_block parent_additional_info_block">
                            <div><h1>IIN:</h1> <p id="parent_iin"></p></div>
                            <div><h1>ID number:</h1> <p id="parent_id_number"></p></div>
                            <div><h1>Issued by:</h1> <p id="parent_issued_by"></p></div>
                            <div><h1>Address:</h1> <p id="parent_address"></p></div>
                            <div>
                                <i>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M21.75 6.75V17.25C21.75 17.8467 21.5129 18.419 21.091 18.841C20.669 19.2629 20.0967 19.5 19.5 19.5H4.5C3.90326 19.5 3.33097 19.2629 2.90901 18.841C2.48705 18.419 2.25 17.8467 2.25 17.25V6.75M21.75 6.75C21.75 6.15326 21.5129 5.58097 21.091 5.15901C20.669 4.73705 20.0967 4.5 19.5 4.5H4.5C3.90326 4.5 3.33097 4.73705 2.90901 5.15901C2.48705 5.58097 2.25 6.15326 2.25 6.75M21.75 6.75V6.993C21.75 7.37715 21.6517 7.75491 21.4644 8.0903C21.2771 8.42569 21.0071 8.70754 20.68 8.909L13.18 13.524C12.8252 13.7425 12.4167 13.8582 12 13.8582C11.5833 13.8582 11.1748 13.7425 10.82 13.524L3.32 8.91C2.99292 8.70854 2.72287 8.42669 2.53557 8.0913C2.34827 7.75591 2.24996 7.37815 2.25 6.994V6.75" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </i>
                                <p id="parent_email"></p>
                            </div>
                        </div>
                        <div class="change_parent_info">
                            <i>
                                <svg width="27" height="25" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.4163 3.70703L21.5836 1.66458C22.0354 1.23906 22.6482 1 23.2871 1C23.9261 1 24.5389 1.23906 24.9907 1.66458C25.4425 2.0901 25.6963 2.66724 25.6963 3.26902C25.6963 3.8708 25.4425 4.44793 24.9907 4.87346L11.3482 17.7223C10.669 18.3616 9.83141 18.8315 8.91108 19.0896L5.46159 20.0575L6.48937 16.8087C6.76338 15.9419 7.26231 15.1531 7.94111 14.5134L19.4163 3.70703ZM19.4163 3.70703L22.8054 6.89897M20.8783 15.2176V20.965C20.8783 21.6871 20.5737 22.3795 20.0316 22.8901C19.4895 23.4007 18.7543 23.6875 17.9876 23.6875H4.49805C3.73141 23.6875 2.99617 23.4007 2.45407 22.8901C1.91197 22.3795 1.60742 21.6871 1.60742 20.965V8.2602C1.60742 7.53816 1.91197 6.84569 2.45407 6.33513C2.99617 5.82457 3.73141 5.53774 4.49805 5.53774H10.6005" stroke="white" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

    <script>
        async function getUserDetailInfo(user_id) {
            await fetch('/panel/users/' + user_id, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            }).then(response => response.json())
                .then(async data => {
                    let user_data = data.data;
                    let status = data.status;
                    if (status === 200) {
                        await setBackgroundColor(user_id);
                        await setUserInfoFromResponseData(user_data);
                        await setParentInfoFromResponseData(user_data);
                    }
                })
        }

        async function setUserInfoFromResponseData(data) {
            document.querySelector('#user_photo_avatar').style.backgroundImage = 'url(' + data.photo_avatar + ')';
            document.querySelector('#user_full_name').innerHTML = data.full_name;
            document.querySelector('#student_class').innerHTML = data.class_num + ' "' + data.class_liter + '"';
            document.querySelector('#user_iin').innerHTML = data.iin;
            document.querySelector('#user_birth').innerHTML = data.birth;
            document.querySelector('#user_phone').innerHTML = data.mobile_phone;
            document.querySelector('#user_email').innerHTML = data.email;
        }

        async function setParentInfoFromResponseData(data) {
            document.querySelector('#parent_photo_avatar').style.backgroundImage = 'url(' + data.parent.photo_avatar + ')';
            document.querySelector('#parent_full_name').innerHTML = data.parent.full_name;
            document.querySelector('#parent_iin').innerHTML = data.parent.iin;
            document.querySelector('#parent_birth').innerHTML = data.parent.birth;
            document.querySelector('#parent_phone').innerHTML = data.parent.mobile_phone;
            document.querySelector('#parent_email').innerHTML = data.parent.email;
        }

        async function setBackgroundColor(user_id) {
            let user_list = document.querySelector('#user_list_' + user_id);
            let all_list = document.querySelectorAll('.user_data_school_part');
            all_list.forEach(e => {
                e.style.backgroundColor = '';
            })
            user_list.style.backgroundColor = '#F8BB4E';
        }
    </script>

{% endblock %}